form input{
  background-color: white;
  margin: 0 2rem;
  border-radius: 2rem;
  border: 0;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  margin: 0;
}

input[type="checkbox"]{
  scale: 1.4;
  background-color: white;

}

form{
  padding: 2em 0.5em;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #213547;
}
